[submodule "course_2026/session_1/hedgedoc"]
	path = course_2026/session_1/hedgedoc
	url = https://github.com/hedgedoc/hedgedoc.git
[submodule "course_2026/session_1/structurizr/structurizr-onpremises"]
	path = course_2026/session_1/structurizr/structurizr-onpremises
	url = https://github.com/structurizr/onpremises
[submodule "course_2026/session_1/structurizr/structurizr-ui"]
	path = course_2026/session_1/structurizr/structurizr-ui
	url = https://github.com/structurizr/ui
[submodule "course_2026/session_3/Pysa/pyre-check"]
	path = course_2026/session_3/Pysa/pyre-check
	url = https://github.com/the-storm/pyre-check.git
